// Custom primary, accent and warn palette.
// Puedes utilizar http://mcg.mbitson.com/ para generar las paletas
// o utilizar la paleta predeterminada utilizando $mat-{color}

// Variables para hue, background y foreground.
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

// colores
$space-cadet: (
  50: #a0a5d0,
  100: #6d75b7,
  200: #4e579e,
  300: #363d6e,
  400: #2c3159,
  500: #222645,
  600: #060607,
  700: #0e0f1c,
  800: #040407,
  900: #000000,
  A100: #828de4,
  A200: #2f41d1,
  A400: #273073,
  A700: #272d59,
  contrast: (
    50: $dark-primary-text,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$red-salsa: (
  50: #ffffff,
  100: #ffeff0,
  200: #feb8bc,
  300: #fc7279,
  400: #fc545c,
  500: #fb3640,
  600: #fa1823,
  700: #ef0511,
  800: #d1040f,
  900: #b3040c,
  A100: #ffffff,
  A200: #ffcbce,
  A400: #ff656d,
  A700: #ff4b55,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$maximum-blue-green: (
  50: #c3fcff,
  100: #77f8ff,
  200: #3ff5ff,
  300: #00e9f6,
  400: #00ccd8,
  500: #00afb9,
  600: #00929a,
  700: #00757c,
  800: #00585d,
  900: #003b3f,
  A100: #b9fbff,
  A200: #53f6ff,
  A400: #00dfec,
  A700: #00c7d2,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$green-blue: (
  50: #ffffff,
  100: #d0e2f1,
  200: #a5c7e4,
  300: #6ea5d3,
  400: #5697cc,
  500: #3f88c5,
  600: #3578b0,
  700: #2e6899,
  800: #275881,
  900: #20486a,
  A100: #ffffff,
  A200: #a6d2f7,
  A400: #57a2e0,
  A700: #4d95d1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$naples-yellow: (
  50: #ffffff,
  100: #ffffff,
  200: #fef7dc,
  300: #fbe997,
  400: #fae27a,
  500: #f9dc5c,
  600: #f8d63e,
  700: #f7cf21,
  800: #f0c609,
  900: #d3ad08,
  A100: #ffffff,
  A200: #fffcef,
  A400: #ffe989,
  A700: #fde471,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$snow: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #fbf5f3,
  600: #f3e2dc,
  700: #eccfc5,
  800: #e4bcae,
  900: #dca897,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$dodger-blue: (
  50: #ffffff,
  100: #b5e2ff,
  200: #7dccfe,
  300: #36b1fe,
  400: #18a5fe,
  500: #0197f6,
  600: #0184d8,
  700: #0172b9,
  800: #015f9b,
  900: #014c7c,
  A100: #f7fcff,
  A200: #91d4ff,
  A400: #2badff,
  A700: #11a3ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$independence: (
  50: #cbd6e3,
  100: #9aaec8,
  200: #7592b4,
  300: #506e93,
  400: #455f7f,
  500: #3a506b,
  600: #2f4157,
  700: #243243,
  800: #1a232f,
  900: #0f151c,
  A100: #b7cfed,
  A200: #6699d8,
  A400: #3c679c,
  A700: #3e5c80,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$brink-pink: (
  50: #ffffff,
  100: #ffffff,
  200: #ffd2df,
  300: #ff8aac,
  400: #ff6c96,
  500: #ff4d80,
  600: #ff2e6a,
  700: #ff1054,
  800: #f00045,
  900: #d2003c,
  A100: #ffffff,
  A200: #ffe6ed,
  A400: #ff80a4,
  A700: #ff6692,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$cool-grey: (
  50: #ffffff,
  100: #fefefe,
  200: #dddfe6,
  300: #b4b8c8,
  400: #a3a8bb,
  500: #9197ae,
  600: #7f86a1,
  700: #6e7694,
  800: #606783,
  900: #535a71,
  A100: #ffffff,
  A200: #e3e7f5,
  A400: #a4adce,
  A700: #9ca2bd,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$kelly-green: (
  50: #e2fcde,
  100: #a5f598,
  200: #78f065,
  300: #3eea24,
  400: #2fdb15,
  500: #29bf12,
  600: #23a30f,
  700: #1d870d,
  800: #176b0a,
  900: #114f07,
  A100: #d7ffd1,
  A200: #7fff6b,
  A400: #28fc08,
  A700: #2adc0e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$rich-black: (
  50: #8394b4,
  100: #586d91,
  200: #43536e,
  300: #283242,
  400: #1d232f,
  500: #11151c,
  600: #050709,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #5d86cf,
  A200: #2d5499,
  A400: #1d2b43,
  A700: #19202e,
  contrast: (
    50: $dark-primary-text,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$denim-blue: (
  50: #e6eafa,
  100: #a7b5ed,
  200: #798ee3,
  300: #3d5cd7,
  400: #2a4acb,
  500: #2541b2,
  600: #203899,
  700: #1a2e7f,
  800: #152566,
  900: #101c4d,
  A100: #d8dffe,
  A200: #748ffc,
  A400: #234ae7,
  A700: #2345cd,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$brunt-sienna: (
  50: #ffffff,
  100: #fefaf9,
  200: #fad0c6,
  300: #f39a85,
  400: #f18369,
  500: #ee6c4d,
  600: #eb5531,
  700: #e83e16,
  800: #cc3713,
  900: #b02f11,
  A100: #ffffff,
  A200: #ffddd5,
  A400: #fd8c71,
  A700: #f47d60,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$dark-slate-blue: (
  50: #f4f3fa,
  100: #c3bfe2,
  200: #9f99d0,
  300: #7268b9,
  400: #5e53b0,
  500: #52489c,
  600: #473e87,
  700: #3c3572,
  800: #312b5d,
  900: #262148,
  A100: #ebe8fb,
  A200: #9e93ea,
  A400: #5e50c7,
  A700: #564ab4,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$malachite: (
  50: #f5fff9,
  100: #aafecd,
  200: #73fdac,
  300: #2dfb82,
  400: #0ffb70,
  500: #04e762,
  600: #03c955,
  700: #03ab48,
  800: #028d3c,
  900: #026f2f,
  A100: #ebfff3,
  A200: #85ffb7,
  A400: #1fff7c,
  A700: #05ff6d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$mellow-apricot: (
  50: #ffffff,
  100: #ffffff,
  200: #fef2e5,
  300: #facfa1,
  400: #f9c184,
  500: #f7b267,
  600: #f5a34a,
  700: #f4952d,
  800: #f28610,
  900: #d8760b,
  A100: #ffffff,
  A200: #fffcf8,
  A400: #ffcb92,
  A700: #fcbe7c,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$portland-orange: (
  50: #ffffff,
  100: #feeee9,
  200: #fbc3b4,
  300: #f78e70,
  400: #f67753,
  500: #f46036,
  600: #f24919,
  700: #e13b0c,
  800: #c3340b,
  900: #a62c09,
  A100: #ffffff,
  A200: #ffd1c4,
  A400: #ff825e,
  A700: #fa714a,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$blue-gradient: (
  linear-gradient(
    90deg,
    map_get($mellow-apricot, 400) 0%,
    map_get($portland-orange, 500) 35%,
    map_get($space-cadet, 500) 100%
  )
);

$lavender: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #d2bfff,
  400: #bca1ff,
  500: #a682ff,
  600: #9063ff,
  700: #7a45ff,
  800: #6526ff,
  900: #4f08ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #cab5ff,
  A700: #b89bff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$star-command-blue: (
  50: #d4eefe,
  100: #89d0fb,
  200: #53bbfa,
  300: #0e9ff8,
  400: #078ee0,
  500: #067bc2,
  600: #0568a4,
  700: #045587,
  800: #034369,
  900: #02304b,
  A100: #c8eaff,
  A200: #62c4ff,
  A400: #009cfb,
  A700: #018ce0,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$onyx: (
  50: #b4bec2,
  100: #8a9aa0,
  200: #6d7e85,
  300: #4d595e,
  400: #3f494d,
  500: #31393c,
  600: #23292b,
  700: #15191a,
  800: #080909,
  900: #000000,
  A100: #99c3d3,
  A200: #519ab5,
  A400: #3c5964,
  A700: #39484d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$iris: (
  50: #ffffff,
  100: #e5e3f7,
  200: #bcb7eb,
  300: #877fdc,
  400: #7167d6,
  500: #5a4fcf,
  600: #4337c8,
  700: #3b30b1,
  800: #332a99,
  900: #2b2381,
  A100: #ffffff,
  A200: #c2bdfa,
  A400: #756ae7,
  A700: #695ed9,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$phthalato-blue: (
  50: #9599fd,
  100: #4951fc,
  200: #121dfb,
  300: #030cc3,
  400: #020aa5,
  500: #020887,
  600: #020669,
  700: #01044b,
  800: #01032d,
  900: #00010e,
  A100: #898eff,
  A200: #232dff,
  A400: #0008bc,
  A700: #0007a2,
  contrast: (
    50: $dark-primary-text,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$maize: (
  50: #ffffff,
  100: #fdfaef,
  200: #f7eabd,
  300: #efd67d,
  400: #ebce62,
  500: #e8c547,
  600: #e5bc2c,
  700: #d7ae1b,
  800: #bc9817,
  900: #a18214,
  A100: #ffffff,
  A200: #fff3c9,
  A400: #f9da69,
  A700: #efcf59,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: #ffffff,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$minion-yellow: (
  50: #ffffff,
  100: #ffffff,
  200: #fcf6cd,
  300: #f8ea8a,
  400: #f7e56d,
  500: #f5e050,
  600: #f3db33,
  700: #f2d616,
  800: #ddc20d,
  900: #c0a90b,
  A100: #ffffff,
  A200: #fffbdf,
  A400: #ffee79,
  A700: #fae764,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$ghost-white: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #e8ebf7,
  600: #d1d7ef,
  700: #bbc4e7,
  800: #a4b0df,
  900: #8d9cd7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fbfbfe,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$dark-background-1: (
  50: #a0acd0,
  100: #6d80b7,
  200: #4e629e,
  300: #36456e,
  400: #2c3859,
  500: #222b45,
  600: #181e30,
  700: #0e111c,
  800: #040507,
  900: #000000,
  A100: #829be4,
  A200: #2f59d1,
  A400: #273b73,
  A700: #273459,
  contrast: (
    50: #000000,
    100: #000000,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$dark-background-2: (
  50: #909ecb,
  100: #5c70b3,
  200: #445693,
  300: #2d3a62,
  400: #242d4d,
  500: #1a2138,
  600: #101523,
  700: #07080e,
  800: #000000,
  900: #000000,
  A100: #6f8ae2,
  A200: #274cc4,
  A400: #203065,
  A700: #1f2a4c,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$oxford-blue: (
  50: #8591c9,
  100: #4f62b2,
  200: #3d4c8c,
  300: #28315b,
  400: #1e2645,
  500: #151a30,
  600: #0c0e1b,
  700: #020305,
  800: #000000,
  900: #000000,
  A100: #6279e2,
  A200: #223fbc,
  A400: #1c285c,
  A700: #1a2244,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$ultramarine-blue: (
  50: #ffffff,
  100: #f0f4ff,
  200: #b8c9ff,
  300: #7094ff,
  400: #527dff,
  500: #3366ff,
  600: #144fff,
  700: #003df5,
  800: #0036d6,
  900: #002eb8,
  A100: #ffffff,
  A200: #ccd9ff,
  A400: #668cff,
  A700: #4d79ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$dark-pastel-green: (
  50: #f7fdf8,
  100: #bbecc3,
  200: #8fe09c,
  300: #57d06b,
  400: #3fca56,
  500: #33b749,
  600: #2c9f3f,
  700: #268736,
  800: #1f6f2c,
  900: #185723,
  A100: #ebfeee,
  A200: #8cf79e,
  A400: #3edf59,
  A700: #35cf4e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$cyan-process: (
  50: #ffffff,
  100: #e1f4fd,
  200: #ade1f9,
  300: #6bc8f3,
  400: #4ebef1,
  500: #32b3ef,
  600: #16a8ed,
  700: #1095d3,
  800: #0e81b7,
  900: #0c6d9b,
  A100: #ffffff,
  A200: #bbe9ff,
  A400: #55c9ff,
  A700: #45bef6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$titanium-yellow: (
  50: #ffffff,
  100: #fdfce9,
  200: #f7f4b7,
  300: #f0ea76,
  400: #ede65b,
  500: #eae23f,
  600: #e7de23,
  700: #d5cc17,
  800: #b9b114,
  900: #9d9711,
  A100: #ffffff,
  A200: #fffcc3,
  A400: #fbf461,
  A700: #f1ea51,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$orange-soda: (
  50: #ffffff,
  100: #ffebe8,
  200: #ffbab0,
  300: #ff7c68,
  400: #ff624a,
  500: #ff472b,
  600: #ff2c0c,
  700: #ed1f00,
  800: #ce1b00,
  900: #b01700,
  A100: #ffffff,
  A200: #ffccc4,
  A400: #ff735e,
  A700: #ff5d44,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$space-green: (
  50: #e0fff5,
  100: #94ffdb,
  200: #5cffc9,
  300: #14ffb1,
  400: #00f5a3,
  500: #00d68f,
  600: #00b77b,
  700: #009966,
  800: #007a52,
  900: #005c3d,
  A100: #d6fff1,
  A200: #70ffd0,
  A400: #0affae,
  A700: #00efa0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$razzle-dazzle-rose: (
  50: #ffffff,
  100: #fceffa,
  200: #f4bfec,
  300: #ea82da,
  400: #e568d2,
  500: #e14eca,
  600: #dd34c2,
  700: #cf23b4,
  800: #b51f9d,
  900: #9a1a86,
  A100: #ffffff,
  A200: #ffc9f7,
  A400: #f46edf,
  A700: #e95fd4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-mcgpalette1: (
  50: #e7fef8,
  100: #9cfce3,
  200: #66fbd4,
  300: #20f9c1,
  400: #07f4b6,
  500: #06d6a0,
  600: #05b88a,
  700: #049a73,
  800: #037d5d,
  900: #035f47,
  A100: #dcfff6,
  A200: #76ffdb,
  A400: #10ffc1,
  A700: #01f5b5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */

// CSS filters for material-icons-two-tone
$space-cadet-filter: invert(12%) sepia(39%) saturate(1121%) hue-rotate(198deg)
  brightness(91%) contrast(90%);

$white-filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(116deg)
  brightness(104%) contrast(102%);

$orange-soda-filter: invert(37%) sepia(76%) saturate(2926%) hue-rotate(343deg)
  brightness(102%) contrast(104%);

$blue-gradient: linear-gradient(0deg, #3358f4, #1d8cf8);
