// 1. Importa la paleta de colores
@import 'palette';
@import 'class-color-maps';
@import 'fonts';
// Angular Material Components customizados
@import '../custom-components/custom-component-themes';

//html,
//body {
  // Estilos del scrollbar
  /* width */
  // ::-webkit-scrollbar {
  //   width: 17.2px;
  // }
  /* Track */
  // ::-webkit-scrollbar-track {
  //   background: red;
  //   border-radius: 50px;
  // }
  /* Handle */
  // ::-webkit-scrollbar-thumb {
  //   background: red;
  //   border-radius: 50px;
  // }
  /* Handle on hover */
  // ::-webkit-scrollbar-thumb:hover {
  //   background: red;
  // }
//}


// Fuente principal del tema y fallbacks
$theme-font-family: "Poppins, Source Code Pro, Rubik, Carter One, Open Sans, Roboto";

// TODO Cambiar nombres de variables para hacerlas más genéricas
$custom-theme-typography: mat-typography-config(
  $font-family: $theme-font-family,
);

@function custom-theme-palette($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    background: $theme-background,
    foreground: $theme-foreground,
    sidenav: $sidenav,
    toolbar: $toolbar
  );
}

$custom-theme: custom-theme-palette(
  mat-palette($primary, 500),
  mat-palette($accent, 600),
  mat-palette($warn, 500)
);

.space-cadet-dark-theme {
  @include angular-material-theme($custom-theme);
  @include angular-material-typography($custom-theme-typography);
  @include custom-components-theme($custom-theme);
}
