<h2>Css Grid Configuration</h2>
<form [formGroup]="form">
  <div *ngFor="let prop of this.array; let i = index;" formGroupName="items">
    <div formGroupName="{{prop.key}}">
      <mat-form-field>
        <mat-label>style</mat-label>
        <input
            formControlName="property"
            matInput
            placeholder="email"
            type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>value</mat-label>
        <input
            formControlName="value"
            matInput
            placeholder="email"
            type="text">
      </mat-form-field>
    </div>
  </div>
</form>
<button (click)="onSubmit()" color="accent" mat-raised-button>Save</button>

