@import 'palette';

$success: $dodger-blue;
$danger: $orange-soda;
$info: $ultramarine-blue;
$default: $cool-grey;

$primary-dark-background: $dark-background-2;
$secondary-dark-background: $dark-background-1;
