@import "palette";

$primary: $ultramarine-blue;
$accent: $razzle-dazzle-rose;
$warn: $minion-yellow;
$success: $dark-pastel-green;
$danger: $orange-soda;
$info: $cyan-process;
$default: $cool-grey;

$primary-background: $dark-background-2;
$secondary-background: $dark-background-1;
